@model IEnumerable<ArshatidModels.Models.EF.Arshatid>
@{
    ViewData["Title"] = "Viðburðir";
    string hidePastQuery = Context.Request.Query["hidePast"];
    bool hidePast = hidePastQuery == "true";
}
<h1>Viðburðir</h1>
<form method="get">
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="hidePast" name="hidePast" value="true" @(hidePast ? "checked" : "") onchange="this.form.submit()" />
        <label class="form-check-label" for="hidePast">Fela liðna atburði</label>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Tímasetning</th>
            <th>Yfirlit</th>
            <th>Skráning hefst</th>
            <th>Skráningu lýkur</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (ArshatidModels.Models.EF.Arshatid evt in Model)
    {
        <tr>
            <td>@evt.EventTime</td>
            <td>@evt.Heading</td>
            <td>@evt.RegistrationStartTime</td>
            <td>@evt.RegistrationEndTime</td>
            <td>
                <a asp-action="Upsert" asp-route-id="@evt.Pk" asp-route-hidePast="@(hidePast ? "true" : "false")" title="Breyta"><i class="bi bi-pencil-fill"></i></a>
                <a asp-action="Index" asp-controller="Registrations" asp-route-eventid="@evt.Pk" title="Skráningar"><i class="bi bi-card-list"></i></a>
                <a asp-action="Index" asp-controller="Invitees" asp-route-eventid="@evt.Pk" title="Boðslisti"><i class="bi bi-people-fill"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="Upsert" asp-route-hidePast="@(hidePast ? "true" : "false")" title="Nýr viðburður"><i class="bi bi-plus-lg"></i></a>
