@model ArshatidModels.Models.EF.Arshatid
@{
    string hidePastQuery = Context.Request.Query["hidePast"];
    bool hidePast = hidePastQuery == "true";
    bool isEdit = Model.Pk != 0;
    ViewData["Title"] = isEdit ? "Breyta viðburði" : "Nýr viðburður";
}
<h1>@ViewData["Title"]</h1>
<form 
    asp-action="Upsert"
    asp-route-id="@((int?)null)"
    asp-route-hidePast="@(hidePast ? "true" : "false")"
    method="post"
>
    <input type="hidden" asp-for="Pk" />
    <div class="mb-3">
        <label asp-for="EventTime" class="form-label"></label>
        <input asp-for="EventTime" class="form-control datepicker"></input>
        <span asp-validation-for="EventTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Heading" class="form-label"></label>
        <input asp-for="Heading" class="form-control" />
        <span asp-validation-for="Heading" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SendDescription" class="form-label"></label>
        <textarea asp-for="SendDescription" class="form-control"></textarea>
        <span asp-validation-for="SendDescription" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RegistrationStartTime" class="form-label"></label>
        <input asp-for="RegistrationStartTime" class="form-control datepicker"/>
        <span asp-validation-for="RegistrationStartTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RegistrationEndTime" class="form-label"></label>
        <input asp-for="RegistrationEndTime" class="form-control datepicker"/>
        <span asp-validation-for="RegistrationEndTime" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" title="Vista"><i class="bi bi-floppy-fill"></i></button>
    <a class="btn btn-secondary"
       asp-controller="Events"
       asp-action="Index"
       asp-route-hidePast="@(hidePast ? "true" : "false")"
       title="Til baka">
        <i class="bi bi-arrow-left-circle-fill"></i>
    </a>
</form>
@if (isEdit)
{
    <hr />
    <div class="mb-3">
        <h3>Myndir</h3>
        <a class="btn btn-outline-secondary" asp-controller="Images" asp-action="Index" asp-route-eventId="@Model.Pk" title="Myndir"><i class="bi bi-images"></i></a>
    </div>
    <div class="mb-3">
        <h3>Boðsgestir</h3>
        <a class="btn btn-outline-secondary" asp-controller="Invitees" asp-action="Index" asp-route-eventId="@Model.Pk" title="Boðsgestir"><i class="bi bi-people-fill"></i></a>
    </div>
    <div class="mb-3">
        <h3>Skráningar</h3>
        <a class="btn btn-outline-secondary" asp-controller="Registrations" asp-action="Index" asp-route-eventId="@Model.Pk" title="Skráningar"><i class="bi bi-card-list"></i></a>
    </div>
}
@section Scripts {
    <script src="~/js/datePicker.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
